# ranger python cache files
.config/ranger/__pycache__
.config/ranger/plugins/__init__.py
.config/ranger/plugins/__pycache__
.config/ranger/bookmarks
.config/ranger/tagged

.config/nvim/init.vim.local
.config/nvim/plugged
.config/nvim/autoload

*.pyo

# vim tmp files
*.sw*
